# ###### Requirements without Version Specifiers ######`
# tensorflow
# cv2
# matplotlib
# numpy
# colorsys
# PIL
# scipy
# webcolors





tensorflow==2.8.0
opencv-python==4.7.0.72
matplotlib==3.10.5
numpy==1.23.5
scipy==1.15.3
webcolors==1.11.1
Pillow==11.3.0
protobuf==3.20.3
PyQt5